<h1><input type="text" [(ngModel)]="nom"></h1>
<h2><select name="statut" id="statut" [(ngModel)]="statut" (change)="statutTaux()">
    <option value=1 >Cadre</option>
    <option value=2>Agent de maîtrise</option>
    <option value=3>Employé de bureau</option>
  </select></h2>

<h3>Salaire de base</h3>

<p>taux horaire * heures travaillées(+majoration)</p>
<p>Taux horaire</p>
<p>{{taux}}</p>
<input type="number" id="heures" [(ngModel)]="heures" (input)="calculBase()">
<p>{{base}}</p>

<h3>Cotisations salariales</h3>

<h5>Contribution dette sociale</h5>
<p>Salaire net * 3.49%</p>
<p>{{detteSoc}}</p>

<h5>Contribution sociale</h5>
<p>Salaire net * 6.51%</p>
<p>{{contriSoc}}</p>

<h5>Assurance maladie</h5>
<p>Salaire net * 0.95%</p>
<p>{{assMal}}</p>

<h5>Assurance vieillesse</h5>
<p>Salaire net * 8.44%</p>
<p>{{assViell}}</p>

<h5>Assurance chômage</h5>
<p>Salaire net * 3.05%</p>
<p>{{assChom}}</p>

<h5>Retraite complémentaire</h5>
<p>Salaire net * 3.81%</p>
<p>{{retrComp}}</p>

<h5>Cotisation AGFF</h5>
<p>Salaire net * 1.02%</p>
<p>{{cortisAGFF}}</p>

<h4>Total cotisations salariales</h4>
<h4>{{totalCotis}}</h4>

<h3>Prime</h3>
<label for="enfant">Nombre d'enfants</label>
<input type="number" id="enfant" [(ngModel)]="enfant" (input)="calculPrime()">
<p>{{prime}}</p>

<h2>Net à payer</h2>
<button (click)="calculTotal()">Total</button>
<h2>{{TTC}}</h2>